@model IndexPageModel
@{
	ViewBag.Title = "Fluent Security : Fluent security configuration for ASP.NET MVC";
	var downloadFileName = String.Format("FluentSecurity-{0}.zip", @Html.GetStableVersion());
}
@section Scripts {
	<script type="text/javascript" src="http://www.websnapr.com/js/websnapr.js"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
}
@section Highlights {
<section id="highlights">
<div class="wrapper">
	<div class="col">
		<h2>Learn more</h2>
		<p>Getting started with Fluent Security is easy. You'll be up and running in minutes.</p>
		<a class="link" href="@Html.Raw(Url.Action<ContentController>(x => x.GettingStarted()))">Learn more</a>
	</div>
	<div class="col">
		<h2>NuGet</h2>
		<p>The easiest way to get started is to install Fluent Security via NuGet. Search for FluentSecurity in the "Add library reference" dialog or install it through the package manager console in Visual Studio.<br /><code>PM&gt; Install-Package FluentSecurity</code></p>
		<a class="link" href="http://nuget.org/List/Packages/FluentSecurity">NuGet</a>
	</div>
	<div class="col last">
		<h2>Download</h2>
		<p>If you're not using NuGet you can grab the latest stable binaries from Github.</p>
		<a class="link" href="https://github.com/downloads/kristofferahl/FluentSecurity/@downloadFileName">Download</a>
	</div>
</div>
</section>
}
<section id="why">
	<h2>Why Fluent Security</h2>
	<ul>
		<li class="reason">
			<h3>Code based configuration</h3>
			<p>No attributes or nasty xml cluttering up your code.</p>
		</li>
		<li class="reason">
			<h3>Low imprint</h3>
			<p>Fluent Security won't spread like wildfire in your application. Your configuration can be kept in a single file.</p>
		</li>
		<li class="reason">
			<h3>ASP.NET MVC 4 ready</h3>
			<p>Built against the latest version of ASP.NET MVC. Use the built in ASP.NET membership provider or roll your own security.</p>
		</li>
		<li class="reason">
			<h3>Customizable</h3>
			<p>Don't like what's in the box? Create your own implementations and hook it in using your IoC-container.</p>
		</li>
		<li class="reason">
			<h3>Open</h3>
			<p>Have a need for something not supported by Fluent Security? Fork us on github, do your magic and send us the patch!</p>
		</li>
		<li class="reason">
			<h3>Tested</h3>
			<p>Fluent Security is used successfully in production and has a code coverage of 99%.</p>
		</li>
	</ul>
</section>
<section id="extras">
	<section class="blogposts">
		<h2>Blog posts</h2>
		<ul>
			<li><a href="http://blog.mariusschulz.com/securing-an-aspnet-mvc-application-using-fluentsecurity">Securing an ASP.NET MVC Application using FluentSecurity</a></li>
			<li><a href="http://craigsdevspace.wordpress.com/2011/07/08/mvc3-security-a-fluent-way/">MVC3 Security: A Fluent Way</a></li>
			<li><a href="http://blogs.lessthandot.com/index.php/WebDev/ServerProgramming/ASPNET/fluent-security-with-vb-net">Fluent security with VB.Net</a></li>
			<li><a href="http://www.codeproject.com/KB/web-security/ASPNET-MVC-Security.aspx">Implement secure ASP.NET MVC applications</a></li>
			<li><a href="http://marcofranssen.nl/secure-your-web-app-fluently/">Secure your web app fluently</a></li>
			<li><a href="http://www.revium.com.au/articles/sandbox/fluentsecurity-mvcsitemapprovider-better-net-security-management/">FluentSecurity + MvcSiteMapProvider = Better .Net Security Management</a></li>
			<li><a href="http://blog.mariusschulz.com/setting-up-fluentsecurity-to-use-ninject-for-dependency-resolution">Setting Up FluentSecurity to Use Ninject for Dependency Resolution</a></li>
			<li><a href="http://mikee.se/Archive.aspx/Details/fluentsecurity_without_an_ioc_container_20120928">FluentSecurity without IoC-container</a></li>
		</ul>
	</section>
	<section class="follow">
		<p>Follow <a href="http://twitter.com/FluentSecurity">@("@FluentSecurity")</a> and tweet about us using the hashtag <a href="http://search.twitter.com/search?q=%23FluentSecurity"><strong>#FluentSecurity</strong></a>. If you've written anything about FluentSecurity, <a href="@Url.Action("Contact")">let us know</a>.</p>
	</section>
	<section class="twitter col">
		<h2>FluentSecurity on twitter</h2>
		@foreach (var item in Model.Tweets)
		{
			<div class="article">
				@Html.DisplayFor(x => item)
			</div>
		}
	</section>
	<section class="issues col">
		<h2>Issues &amp; feature requests</h2>
		@foreach (var item in Model.Issues)
		{
			<div class="article">
				<p class="date">@item.Created</p>
				<p class="author">@item.User</p>
				<h4><a href="@item.Url">@item.Id - @item.Title</a></h4>
				<p class="short">@item.Text</p>
			</div>
		}
	</section>
	<section class="commits col last">
		<h2>Github commits (develop)</h2>
		@foreach (var item in Model.Commits)
		{
			<div class="article">
				<p class="date">@item.Date</p>
				<p class="author">@item.Author</p>
				<h4><a href="@item.Url">@item.Id</a></h4>
				<p class="short">@item.Message</p>
			</div>
		}
	</section>
</section>