<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Styles/Main.css?v=2")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			@Html.Partial("_Navigation", "menu")
			<div class="highlights">
				<div id="pitch">
					<img src="@Url.Content("~/Content/Images/Fluent-Security-Logo-100x100.png")" id="logo" alt="Fluent Security Logo" />
					<h1><a href="/"><span>Fluent</span> Security</a> configuration<br />for ASP.NET MVC</h1>
					@Html.DisplayCurrentVersion()
					<div id="mvc-version"><span>ASP.NET MVC 3</span></div>
					<p class="elevator-pitch"><strong>Fluent Security provides a fluent interface for configuring security in ASP.NET MVC. No attributes or nasty xml, just pure love. Go get it on NuGet!</strong></p>
					<div class="commandWrapper">
						<div class="commandPrompt">
							<p class="command">PM&gt; Install-Package FluentSecurity</p>
						</div>
					</div>
				</div>
				@RenderSection("Highlights", false)
			</div>
		</div>
		<div id="main">
			@RenderBody()
		</div>
		<div id="footer">
			@Html.Partial("_Navigation", "secondary-menu")
		</div>
	</div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-590440-5']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</body>
</html>