<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<meta name="keywords" content="FluentSecurity, Fluent, Security, API, configuration, asp.net, mvc" />
	<meta name="description" content="FluentSecurity provides a fluent interface for configuring security in ASP.NET MVC" />
	<link rel="apple-touch-icon" href="@Url.Content("~/Content/Images/Fluent-Security-Icon.png")"/>
	<link rel="icon" href="@Url.Content("~/favicon.png?v=1")" type="image/png" />
	<link href="@Url.Content("~/Content/Styles/style.less")" rel="stylesheet" type="text/css" />
	@RenderSection("Styles", false)
	<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="wrapper">
			@Html.Partial("_Navigation", "menu")
			<div id="pitch">
				<div id="logo"><img src="@Url.Content("~/Content/Images/Fluent-Security-Logo-128x128.png")" alt="FluentSecurity Logo" /></div>
				<h1><a href="/">Fluent Security</a> configuration<br />for ASP.NET MVC</h1>
				<p class="elevator-pitch"><strong>FluentSecurity provides a fluent interface for configuring security in ASP.NET MVC.<br />No attributes or nasty xml, just pure love.<br />Go get it on NuGet!</strong></p>
				<div class="commandWrapper">
					<div class="commandPrompt">
						<p class="command">PM&gt; Install-Package FluentSecurity</p>
					</div>
				</div>
				<div class="version-info">
					<div id="current-version">Version @Html.DisplayCurrentVersion()</div>
					<div id="mvc-version"><span>ASP.NET MVC 3 and ASP.NET MVC 4</span></div>
				</div>
			</div>
			</div>
		</header>
		@RenderSection("Highlights", false)
		<section id="main">
			<div class="wrapper">
			@RenderBody()
			</div>
		</section>
		<footer>
			<div class="wrapper">
				<nav>@Html.Partial("_Navigation", "secondary-menu")</nav>
				<div class="share">
					<div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="top:40px; right:20px;">
						<a class="addthis_button_twitter"></a>
						<a class="addthis_button_google_plusone_share"></a>
						<a class="addthis_button_delicious"></a>
						<a class="addthis_button_facebook"></a>
						<a class="addthis_button_email"></a>
						<a class="addthis_button_compact"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ff6f02f45bec404"></script>
				</div>
			</div>
		</footer>
	</div>
@RenderSection("Scripts", false)
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-590440-5']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</body>
</html>